<configuration>

    <contextListener class="com.common.LogbackListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>